<h1>About Father</h1>

<p>My father's name is Kulwinder Singh. He is 53 year old. He is running his own business of machinery parts in India. My father is very kindly, most caring person in the world. He fulfill all our needs and do not bother about his needs. He always give priority to his family. He did so many things for our family and me and my family respect him alot. He likes eating, travelling, helping needy people. He is my rolemodel.</p>