<h1>About Grandfather</h1>
<p>My grandfather's name is Malkiat Singh and he is 82 year old. He was a military officer and he fighted some wars in India. He like to do meditation, farming and talking about his past military life. He is very helpful and caring person. I am very lucky to have such a grandfather in my life.</p>