<h1>About Mother</h1>

<p>My mother's name is Paramjeet Kaur. She is 50 year old. She is a housewife. She is the best mother in the world because she takes care about all the family members needs. She is also very kindly, caring and emotional in nature. She like watching serial, movies, cooking, eating, mediation. She taught many things to me and my sibling such as mother language that is punjabi, good manners, moral values which are with us and we follow them. She is also my rolemodel.</p>