<h1>About Myself</h1>

<p>I am Simranpreet Kaur. I am studing in Georgian College and right now, I am in my last semester (4th). I enrolled in Computer Programmer. I am from Punjab, India and I like to play games, cooking, music, visit new places. I want to become a famous personality in the world with my skills. I am very motivated person and my family is my strenght. Last, Because of homesickness I miss my family alot.</p>