<h1>About Sister</h1>

<p>My sister's name is Parminder Kaur. She is 26 year old. She completed her master of computer applications (MCA) last year in India. Now, she is looking for a good job. She like cooking, to learn new things, meditation, shopping. She is very polite. She shares everything with me and I with her. She is my bestfriend forever.</p>